USE [SOFTLAND]
GO
/****** Object:  Table [fvcrc].[CONCEPTO_FORMULA_BK]    Script Date: 8/4/2025 9:59:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [fvcrc].[CONCEPTO_FORMULA_BK](
	[CONCEPTO] [varchar](20) NOT NULL,
	[SECUENCIA] [smallint] NOT NULL,
	[VALOR_INICIAL] [decimal](28, 8) NOT NULL,
	[VALOR_FINAL] [decimal](28, 8) NOT NULL,
	[CANTIDAD] [decimal](28, 8) NOT NULL,
	[MONTO] [decimal](28, 8) NOT NULL,
	[FORMULA] [text] NOT NULL,
	[NIVEL_FORMULA] [smallint] NOT NULL,
	[USA_CANTIDAD] [varchar](1) NOT NULL,
	[USA_MONTO] [varchar](1) NOT NULL,
	[NoteExistsFlag] [tinyint] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[RowPointer] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [fvcrc].[CONCEPTO_FORMULA_BK] ADD [CreatedBy] [varchar](50) NOT NULL
ALTER TABLE [fvcrc].[CONCEPTO_FORMULA_BK] ADD [UpdatedBy] [varchar](50) NOT NULL
ALTER TABLE [fvcrc].[CONCEPTO_FORMULA_BK] ADD [CreateDate] [datetime] NOT NULL

GO
SET ANSI_PADDING OFF
GO
